button.btn-add {
    display: flex;
    float: right;
    height: 35px;
    position: absolute;
    right: 60px;
    align-items: center;
    padding: 20px;
    background-color: #abf3ae;
}

button:hover {
    background-color:  var(--button-background-color) ;
}
/* --button-background-color: #4CAF50;
    --button-hover-background-color: #72da76; */
div.store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--section-background-color);
    padding: 1rem;
    border-radius: 5px;
    border: 2px;
    box-shadow: 0 0 1px #0003, 0 5px 2px #0003;
    align-items: center;
    justify-content: center;
}

div.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 1rem;
    width: 70%;
    text-align: center;
}

div.info h2 {
    font-size: 40px;
    color: var(--title-color);
}

div.info span {
    font-style: normal;
    font-size: 20px;
}

div.info p {
    font-size: 20px;
}

.contentproduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 20px;
    background-color: var(--section-background-color);
    border-radius: 8px;
    border: 2px;
    box-shadow: 0 0 1px #0003, 0 5px 2px #0003;
    justify-content: space-around;
}